/* for all */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* navigation bar */
nav {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #B74C4C6B;
    width: 100%;
    max-width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 60px;
}

.section {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.nav-title a {
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-decoration: none;
    letter-spacing: 0.245em;
    color: #000000;
}

/* my bio */

.my_bio {
    background-color: #e49b9b;
    display: flex;
    gap: 3%;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 6%;
}

.bio_img {}

.bio_img img {
    width: 500px;
    border-radius: 50%;
}

.bio_head {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.245em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2%;
}

.bio_text {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 3%;
}

.bio_button {
    background: rgba(255, 255, 255, 0.49);
    color: rgba(0, 0, 0, 0.57);
    border-radius: 1px;
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    border: 0;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    padding-left: 3.25%;
    padding-right: 3.25%;
    margin-bottom: 2%;
}

.bio_button:hover {
    background-color: none;
    border: 2px dashed salmon;
}

.bio_button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.57);
}

.bio_text p a {
    text-decoration: none;
    color: whitesmoke;
}

/* work section */

.work {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.work_text {
    font-weight: 500;
    font-size: 32px;
    line-height: 54px;
    letter-spacing: 0.245em;
    color: black;
    margin-bottom: 2%;
}

.work_details {
    font-weight: 300;
    font-size: 16px;
    line-height: 54px;
    letter-spacing: 0.245em;
    color: black;
    margin-bottom: 2%;
}

.work_part_1 img {
    width: 350px;
    padding: 40px;
    background-color: #B74C4C6B;
}

.work_head .bio_button {
    background-color: #B74C4C6B;
    border-radius: 0%;
}

.work_1 {
    display: flex;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 100px;
}

/* footer_part */

.footer_part {
    display: flex;
    gap: 2%;
    background-image: linear-gradient(to top, white, #e49b9b);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;

}

.footer_part img {
    width: 15%;
}

.image_1 {
    margin-bottom: 10%;
}

.image_2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_3 {
    margin-top: 10%;
}

.image_4 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_5 {
    margin-bottom: 10%;
}

.footer_head {
    font-family: 'Pattaya';
    font-weight: 200;
    font-size: 36px;
    letter-spacing: 0.245em;
    text-align: center;
    background-color: #e49b9b;
    color: #FFFFFF;
    margin-bottom: 2%;
    margin-bottom: 0%;
    padding-top: 2%;
    text-align: center;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    margin-bottom: 2%;
}

footer p a {
    text-decoration: none;
    color: gray;
    font-size: larger;
}

.rights_reserved p {
    font-family: 'Pattaya';
    color: aliceblue;
    background-color: black;
    font-weight: 100;
    font-size: 14px;
    padding: 0.5%;
}

/* Some Facts */

.some-facts {}

.facts-head {
    font-weight: 600;
    font-size: 32px;
    line-height: 54px;
    color: black;
    margin-left: 10%;
}

.facts-caption {
    font-weight: 300;
    font-size: 16px;
    line-height: 54px;
    letter-spacing: 0.245em;
    color: black;
    margin-left: 10%;
    margin-bottom: 2%;
}

.facts-items:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.facts-items:hover {
    background-color: rgba(255, 144, 14, 0.1);
}

.facts {
    display: flex;
    gap: 3%;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
}

.facts-img {
    margin-top: 20px;
}

.facts-items {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    text-align: center;
}

.facts-items-head {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin-top: 20px;
}

.facts-items-caption {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
    margin-top: -15px;
}